<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>]
        <h1 style="color:pink;">it is abhi file</h1>
        <a href="{% url 'python:noori' %}">go to noori file(specific file app2)</a><br>
        <a href="{% url 'python:baba' %}">go to baba file(specific file app2)</a><br>
        <a href="{% url 'sql:rizzu' %}">go to rizzu file(specific file app3)</a><br>
        <a href="{% url 'yashu' %}">go to yashu file(generic file app1)</a><br>
        <a href="{% url 'sadia' %}">go to sadia file(generic file app1)</a><br>
    
    </center>
</body>
</html>